.classpath
.cproject
.externalToolBuilders/
.project
.settings/
bin/
gen/
lint.xml
local.properties
obj/
proguard-project.txt
proj.android/libs/armeabi/gdb.setup
proj.android/libs/armeabi/gdbserver
proj.android/jni/Android.mk
proj.android/libs/armeabi/libgame.so
proj.android/project.properties
